body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 90vh;
    overflow-y: scroll;
    text-align: center;
}

.story-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.story-item {
    display: block;
    background: #a44dff;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.story-item:hover {
    background: #8920d4;
}


h1 {
	text-align: center;
	font-size: 2.5em;
	color: #333;
	margin-bottom: 20px;
}

h2 {
	text-align: center;
	font-size: 1.5em;
	color: #333;
	margin-bottom: 20px;
}

p {
	line-height: 1.6;
	font-size: 1.1em;
	color: #333;
	text-align: justify;
	margin-bottom: 20px;
}

.story-summary {
	line-height: 1.6;
	font-size: 1.1em;
	color: #333;
	text-align: center;
	margin-bottom: 20px;

}

.highlight {
	font-weight: bold;
	color: #a44dff;
}

.quote {
	font-style: italic;
	color: #777;
	text-align: center;
}

.footer {
	text-align: center;
	font-size: 0.9em;
	color: #555;
	margin-top: 30px;
}